body {
    height: 100vh;
    overflow-x: hidden;
    transition: background-color 0.5s ease;
    user-select: none;
    font-family: 'Cera Round Pro', sans-serif;
}

header {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--branco-base);
}

.row {
    height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Variavel de cores*/
:root {
    --branco-box: rgba(255, 255, 255, 0.8);
    --branco-base: #ececec;
    --branco-cinza: #c4c4c4;
    --cinza: #bbbbbb;
    --cinza-escuro: #999999;
    --branco-amarelado: rgba(255, 204, 0, 0.9);
    --preto: rgba(0, 0, 0, 0.15);
    --preto-cinza: rgba(0, 0, 0, 0.8);
    --preto-azul: #042030;
    --azul-base: #008fe0;
    --azul-escurecido: #00a2ff;
    --azul-roxo: #aa67e9;
    --verde-claro: #38ce6a;
    --vermelho: #E51C20;
}

/* Componentes */
input {
    padding: 0 20px;
    text-align: left;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Cera Round Pro', sans-serif;
    font-weight: bold;
    width: 100%;
    height: 35px;
    background: var(--branco-cinza);
    caret-color: var(--azul-base);
}

input:focus::placeholder {
    transition: all 0.1s;
    color: transparent;
}

select {
    border-radius: 8px;
    font-family: 'Cera Round Pro', sans-serif;
    font-size: 14px;
    height: 35px;
    border: none;
    transition: ease-in-out 0.3s;
    outline: none;
    background: transparent;
    color: var(--azul-escurecido);
    user-select: none;
}

select:focus {
    transform: scale(1.1);
    background-color: var(--azul-base);
    color: var(--branco-base);
    transition: ease-in-out 0.3s;
}

select:hover {
    transform: scale(1.1);
    outline: none;
    background-color: var(--azul-base);
    transition: ease-in-out 0.3s;
    color: var(--branco-base);
}

select option {
    background-color: var(--branco-base);
    outline: none;
}

option {
    font-size: 14px;
    font-family: 'Cera Round Pro', sans-serif;
    background-color: var(--branco-base);
    color: var(--azul-base);
}

option:hover {
    background-color: var(--azul-base);
}


button {
    text-align: center;
    border: none;
    border-radius: 8px;
    font-family: 'Cera Round Pro', sans-serif;
    font-size: 14px;
    height: 35px;
    width: 100%;
    background: transparent;
    transition: ease-in-out 0.3s;
    user-select: none;
    color: var(--azul-escurecido);
}

button:hover {
    transform: scale(1.1);
    outline: none;
    background-color: var(--azul-base);
    transition: ease-in-out 0.3s;
    color: var(--branco-base);
}

button:focus {
    outline: none;
    background-color: var(--azul-escurecido);
    transition: ease-in-out 0.3s;
    color: var(--branco-base);
}

/* Box */
.box {
    display: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 300px;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--branco-base);
    margin: 0 20px;
}

.box_claro:hover {
    background-color: var(--preto-cinza);
    color: #3178C6;
}

.box_escuro:hover {
    background-color: var(--preto-cinza);
    color: var(--branco-base);
    text-decoration: none;
}

.box_verde:hover {
    background-color: var(--preto-cinza);
    color: var(--verde-claro);
}

.box_roxo:hover {
    background-color: var(--preto-cinza);
    color: var(--azul-roxo);
}

.box_cinza:hover {
    background-color: var(--preto-cinza);
    color: var(--vermelho);
}

img {
    border-radius: 8px;
    width: 150px;
    height: 150px;
    -webkit-user-drag: none;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.link-invisivel {
    text-decoration: none !important;
    color: inherit !important;
}